@import './common/reset.scss';
@import './common/px2rem.scss';
html,body{
    height: 100%;
}
#root{
    display: flex;
    flex-direction: column;
    height:100%;
    width:100%;
}

body{
    font-size:px2rem(16);
    width:16rem;
    margin:0 auto;
}
