@import './common/reset.scss';
html,body{
    height: 100%;
}

#root{
    display: flex;
    flex-direction: column;
    height:100%;
    width:100%;
}

* { touch-action: pan-y; }

body{
    font-size: px2rem(16);
    width: 100%;
}
