@import '@/styles/common/px2rem.scss';
.gao-update{
  &-box{
  height:px2rem(50);
  background: white;
  margin-top:px2rem(20);
  input{
    height:px2rem(50);
    border: none;
    width:100%;
    margin-left:px2rem(20);
  }
}
&-title{
  height:px2rem(40);
  line-height: px2rem(40);
  color:#a9a9a9;
  font-size: px2rem(12);
  p{
    margin-left:px2rem(20);
  }
}
&-sure{
  height:px2rem(50);
  background: #c7c7c7;
  margin:0 px2rem(20);
  border-radius: px2rem(5);
  text-align: center;
  line-height: px2rem(50);
  color:white;
  font-weight: 600;
}
}
