@import '@/views/px2rem.scss';

// 商品/食物列表
.goods-list{
  margin-top: px2rem(25);
  font-size: px2rem(25);
  // position: relative;
  height: px2rem(1250);
  overflow-y: scroll;
  display: flex;
  // 商品分类 ul
  .goods-type{
    width: 25%;
    background-color: #f8f8f8;
    position: sticky;
    top: 0;
    overflow-y: auto;
    .cur-goods-type{
      background-color: white;
    }
    li{
      height: px2rem(98);
      line-height: px2rem(98);
      text-align: center;
      color: #333;
      span{
      font-size: px2rem(25);
        a{
          color: #999;
        }
      }
    }
  }
  .goods-detail{
    width: 100%;
    // background-color: white;
    // padding: px2rem(15);
    dl{
      background-color: white;
      // margin-top: px2rem(25);
    }
    dt{
      margin: px2rem(10) px2rem(10);
      font-size: px2rem(28);
      font-weight: bolder;
      color: #666;
    }
    dd{
      font-size: px2rem(25);
      height: px2rem(230);
      display: flex;
      align-items: center;
      justify-content: space-around;
      .goods-pic{
        width: px2rem(170);
        height: px2rem(170);
        img{
          width: 100%;
        }
      }
      .goods-det{
        width: px2rem(366);
        height: px2rem(197);
        h2{
          font-weight: 800;
          font-size: px2rem(27);
          color: #333;
          margin: px2rem(20) 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        p{
          font-size: px2rem(20);
          margin: px2rem(15) 0;
          color: #999;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        span{
          display: inline-block;
          font-size: px2rem(20);
          color: #999;
        }
        .h3{
          display: flex;
          justify-content: space-between;
          font-size: px2rem(25);
          margin: px2rem(25) 0;
          line-height: px2rem(28);
          div{
            span{
              font-size: px2rem(25);
              color: rgb(255, 83, 57);
            }
          }
          .inandre{
            display: flex;
            justify-content: space-around;
            color: rgb(255, 83, 57);
            // margin-top: px2rem(15);
            width: px2rem(190);
          }
          .icon-jia{
            font-size: px2rem(50);
            color: #2395ff;
          }
          .icon-jian1{
            font-size: px2rem(50);
            color: rgb(35, 149, 255);
          }
        }
      }
    }
  }
}