@import '@/views/px2rem.scss';

// 商品/食物列表
.goods-list{
  margin-top: px2rem(25);
  font-size: px2rem(25);
  // position: relative;
  height: px2rem(1250);
  overflow-y: scroll;
  display: flex;
  // 商品分类 ul
  .goods-type{
    width: 25%;
    background-color: #f8f8f8;
    position: sticky;
    top: 0;
    overflow-y: auto;
    .cur-goods-type{
      background-color: white;
    }
    li{
      height: px2rem(100);
      // line-height: px2rem(98);
      display: flex;
      justify-content:center;
      align-items:Center;
      text-align: center;
      color: #333;
      span{
      font-size: px2rem(18);
        a{
          color: #999;
        }
      }
    }
  }
  //分类详情
  .goods-detail{
    width: 100%;
    // background-color: white;
    // padding: px2rem(15);
    dl{
      background-color: white;
      // margin-top: px2rem(25);
    }
    dt{
      margin: px2rem(10) px2rem(10);
      font-size: px2rem(28);
      font-weight: bolder;
      color: #666;
    }
    dd{
      font-size: px2rem(25);
      height: px2rem(230);
      display: flex;
      align-items: center;
      justify-content: space-around;
      .goods-pic{
        width: px2rem(170);
        height: px2rem(170);
        img{
          width: 100%;
        }
      }
      .goods-det{
        width: px2rem(366);
        height: px2rem(197);
        h2{
          font-weight: 800;
          font-size: px2rem(27);
          color: #333;
          margin: px2rem(20) 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        p{
          font-size: px2rem(20);
          margin: px2rem(15) 0;
          color: #999;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        span{
          display: inline-block;
          font-size: px2rem(20);
          color: #999;
        }
        .h3{
          display: flex;
          justify-content: space-between;
          font-size: px2rem(25);
          margin: px2rem(25) 0;
          line-height: px2rem(28);
          div{
            span{
              font-size: px2rem(25);
              color: rgb(255, 83, 57);
            }
          }
          .inandre{
            display: flex;
            justify-content: space-around;
            color: rgb(255, 83, 57);
            // margin-top: px2rem(15);
            width: px2rem(190);
          }
          .icon-jia{
            font-size: px2rem(50);
            color: #2395ff;
          }
          .icon-jian1{
            font-size: px2rem(50);
            color: rgb(35, 149, 255);
          }
        }
      }
    }
  }
// 底部购物车
.b{
  height: px2rem(100) !important;
  width:100%;
  position: fixed;
  bottom:0;
  z-index:9;
  .l{
      height:100%;
      float: left;
      width:75%;
      background: rgba(61,61,63,.9);
      // position: absolute;
     p{
         width:px2rem(100);
         height:px2rem(100);
         background-color: #0085fffa;
         background-clip:padding-box;
         border: px2rem(12) solid #191a1b94;
         border-radius: 100%;
         background-image: url(./img/1.png) ;
         background-repeat: no-repeat;
         background-position:center center;
         background-origin:padding-box;
         position: relative;
         margin-top: px2rem(-20);
         margin-left: px2rem(40);
     }


  }
  .r{
      height:100%;
      float: right;
      width:25%;
      background: #38ca73;
      text-align: center;
      line-height:px2rem(100);
      font-weight: 600;
      color:white;
  }
  .y{
      margin-top:px2rem(20);
      position: absolute;
      top:-0.1px;
    margin-left:px2rem(200);
    float:right;
    z-index: 99999999999999999999;
    span{
        color: #ffe607;
        font-weight: 700;
        font-size: px2rem(28);
    }
  }
  .zi{
      font-size: px2rem(6);
      margin: px2rem(10) 0;
      color: #999;
  }
}
}
