@import '../../styles/common/px2rem.scss';
.login{
  .am-toast-text{
    position: absolute;
    bottom: px2rem(100);
    right: px2rem(100);
    width: px2rem(170);
    border-radius: px2rem(20)!important;
  }

  background-color:#fff;
  width: 100%;
  height: 100%;
  font-family: PingFang SC,Helvetica Neue,Arial,sans-serif;
  .App-1EAON{
    height: auto;
    min-height: 100%;
    padding-top: px2rem(40);
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    .App-3Q8Qb{
      width: px2rem(300);
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      justify-content: flex-start;
      .LoginHeader-1jXn6{
        text-align: center;
        img{
          width: px2rem(140);
          height: px2rem(56);
        }
      }
    }
    .App-3Q8Qb>div:last-child{
      min-height: 296px;
    }
  }
}
.MessageLogin-iYvWA{
  margin-top: px2rem(16);
  .MessageLogin-FsPlX{
    position: relative;
    margin-bottom: px2rem(16);
    height: px2rem(48);
    font-size: px2rem(14);
    background: #fff;
    >input {
      width: 100%;
      height: 100%;
      left: 0;
      padding-left: px2rem(10);
      border: px2rem(1) solid #ddd;
      border-radius: px2rem(4);
      color: #333;
      outline: none;
      box-sizing: border-box;
      -webkit-appearance: none;
    }
    >* {
      display: inline-block;
      position: absolute;
      top: 50%;
      right: px2rem(10);
      transform: translateY(-50%);
    }
    .CountButton-3e-kd{
      color: #ccc;
      padding: 0;
      border-radius: px2rem(6);
      background: transparent;
      text-align: center;
      font-size: px2rem(14);
      outline: none;
      border: none;
    }
  }
  .MessageLogin-15xD9{
    margin-top: px2rem(12);
    color: #999;
    font-size: px2rem(14);
    line-height: px2rem(20);
  }
  .SubmitButton-2wG4T{
    display: block;
    width: 100%;
    height: px2rem(42);
    margin-top: px2rem(30);
    border-radius: px2rem(4);
    background: #4cd96f;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-size: px2rem(16);
    line-height: px2rem(42);
    outline: none;
    border: none;
  }
}
.MessageLogin-31EIr{
  display: block;
  margin-top: px2rem(20);
  text-align: center;
  color: #999;
  font-size: px2rem(12);
}
.MessageLogin-FsPlX>input:focus {
  border-color: #0089dc;
}
