.cinemas-list {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;

  .am-search {
    height: 50px;
  }

  .am-search-input {
    height: 30px;
  }
  .all-cinemas {
    flex: 1;
    height: 100%;
    overflow: scroll;
    .cinemas-list-item {
      border-bottom: 1px solid #ededed;
      height: 75px;
      background-color: #fff;
      padding: 15px;
      .cinema-info {
        float: left;
        .cinema-name {
          color: #191a1b;
          font-size: 15px;
          margin-top: 6px;
        }
        .cinema-address {
          color: #797d82;
          font-size: 12px;
          margin-top: 5px;
          width: 265px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .cinema-price {
          font-size: 15px;
          color: #ff5f16;
          margin-top: 2px;
        }
        .cinema-gpsAddress {
          font-size: 11px;
          color: #797d82;
          display: inline-block;
          margin-top: 10px;
          margin-left: 6px;
        }
      }
      .cinema-info-rt {
        float: right;
      }
    }
  }
}
