.films {
  flex: 1;
  height: 100%;
  overflow: auto;
  .city-fixed {
    position: absolute;
    top: 18px;
    left: 8px;
    z-index: 999;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    padding: 0 5px;
    background: rgba(0, 0, 0, 0.2);
  }
  .a {
    height: 800px;

  }

}
