@import '@/styles/common/px2rem.scss';
.gao-discover{
  flex:1;
  display: flex;
  flex-direction: column;
  &-top{
    flex:2;
    display: flex;
    justify-content: space-between;
    background: white;
    margin-bottom: px2rem(15);
    &-left{
      flex:1;
      display: flex;
      flex-direction: column;
      .left1{
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content:center;
        padding:0 px2rem(10);
        line-height: px2rem(30);
        .p1{
          font-size: px2rem(20);
          color:rgb(255, 153, 0);
        }
        .p2{
          color:#999;
        }
      }
      .left2{
        flex:1;
        img{
          float:right;
          width:p2rem(80);
          height:px2rem(80);
        }
      }
    }
    &-right{
      flex:1;
      display: flex;
      padding:0 px2rem(10);
      flex-direction: column;
      border-left:1px solid #ededed;
      &-right1{
        border-bottom: 1px solid #ededed;
        flex:1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: px2rem(30);
        &-word{
          .p1{
            font-size:px2rem(20);
            color: rgb(27, 169, 225);
          }
          .p2{
            color:#999;
            font-size: px2rem(14);
          }
        }
        &-img{
         img{
          height:px2rem(50);
          width:px2rem(50);
         }
        }
      }
      &-right2{
        flex:1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: px2rem(30);
        &-word{
          .p1{
            font-size:px2rem(20);
            color:rgb(237, 102, 96);
          }
          .p2{
            color:#999;
            font-size: px2rem(14);
          }
        }
        &-img{
          img{
           height:px2rem(50);
           width:px2rem(50);
          }
         }
      }
    }
  }
  &-content{
    flex:4;
    display: flex;
    background: white;
    flex-direction: column;
    padding:0 px2rem(10);
    &-top{
      flex:1;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      .p1{
        font-size: px2rem(20);
        font-weight: 700;
        .icon-icon-test{
          color:#ff5339;
        }
      }
      .p2{
        color: #999;
        margin-top:px2rem(5);
        font-size:px2rem(12);
      }
    }
    &-bottom{
      flex:3;
      display:flex;
      .bottom1{
        flex:1;
        margin-right:px2rem(10);
        .p1{
          background:black;
          width:px2rem(60);
          text-align: center;
          font-size:px2rem(14);
          color:white; 
        }
        .p2{
          img{
            height:px2rem(100);
            width:px2rem(120);
          }
        }
        .p3{
          font-size:px2rem(15);
          margin-bottom:px2rem(10);
        }
        .p4{
          font-size: px2rem(15);
          color: #ff5339;
          span{
            font-size:px2rem(12);
            color:#aaa;
            text-decoration: line-through;
          }
        }
      }
      .bottom2{
        flex:1;
        margin-right:px2rem(10);
        .p1{
          background:black;
          width:px2rem(60);
          text-align: center;
          font-size:px2rem(14);
          color:white; 
        }
        .p2{
          img{
            height:px2rem(100);
            width:px2rem(120);
          }
        }
        .p3{
          font-size:px2rem(15);
          margin-bottom:px2rem(10);
        }
        .p4{
          font-size: px2rem(15);
          color: #ff5339;
          span{
            font-size:px2rem(12);
            color:#aaa;
            text-decoration: line-through;
          }
        }
      }
      .bottom3{
        flex:1;
        .p1{
          background:black;
          width:px2rem(60);
          text-align: center;
          font-size:px2rem(14);
          color:white; 
        }
        .p2{
          img{
            height:px2rem(100);
            width:px2rem(120);
          }
        }
        .p3{
          font-size:px2rem(15);
          margin-bottom:px2rem(10);
        }
        .p4{
          font-size: px2rem(15);
          color: #ff5339;
          span{
            font-size:px2rem(12);
            color:#aaa;
            text-decoration: line-through;
          }
        }
      }
    }
    &-more{
      text-align: center;
      height:px2rem(40);
      color:#999;
      font-size:px2rem(15);
    }
  }
  &-bottom{
    flex:2;
  }
}
