@import '@/styles/common/px2rem.scss';

.lv-cityDetail {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;

  header {
    height: px2rem(44);
    background: #fff;
    text-align: center;
    line-height: px2rem(44);
    font-size: px2rem(17);
    background: #0085ff;
    color: #fff;

    i {
      position: absolute;
      left: px2rem(15);
      font-size: px2rem(25)
    }
  }


  .search {
    height: px2rem(56);
    position: relative;
    background: #fff;

    .city {
      height: px2rem(56);
      position: absolute;
      width: px2rem(60);
      top: 0;
      left: 0;
      text-align: center;
      line-height: px2rem(56);
      font-size: px2rem(14)
    }
    .am-search-value {
      height: 100%;
    }
    .am-search {
      height: px2rem(56);
      margin-left: px2rem(56);
      background: #fff;
    }

    .am-search-input {
      height: px2rem(36);
      background: #f4f4f4;
    }
  }

  .all-cinemas {
    flex: 1;
    height: 100%;
    overflow: scroll;
    .cinemas-list-item {
      border-bottom: px2rem(1) solid #ededed;
      height:  px2rem(75);
      background-color: #fff;
      padding:  px2rem(15);
      .cinema-info {
        float: left;
        .cinema-name {
          color: #191a1b;
          font-size:  px2rem(15);
          margin-top:  px2rem(6);
        }
        .cinema-address {
          color: #797d82;
          font-size:  px2rem(12);
          margin-top:  px2rem(5);
          width:  px2rem(265);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .cinema-info-rt {
        float: right;
        font-size: px2rem(14);
        margin-top: px2rem(16);

      }
    }
  }

}


